<div class="container">
    <div class="row">
        <div class="col col-sm-8 col-xs-6 col-sm-offset-3">
            <div class="card">
               <div class="list-group list-group-flush">
                    <h1 class="card-title">Welcome to my Form Designs</h1>
                    <ul>
                        <li routerLinkActive="active"><a href="../td-login/td-login.component.html">Template Driven Approach</a></li>
                        <li><a>Reactive Approach</a></li>
                    </ul>
                </div>   
            </div>
        </div>
    </div>
</div>